---
layout: gis
title: Real Estate
permalink: /real-estate/
---
<style>
  .photos {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photos .item {
    margin-bottom: 50px;
  }

  .photos .item img {
    max-width: 100%;
  }

  .photos h1 {
    font-size: 20pt;
  }
</style>

<div class="photos">
  <h1>Real Estate Samples</h1>

  {% for item in site.data.real-estate %}
    <div class="item">
      <img src="/portfolio_images/real_estate/interior{{ item.image }}.jpg">
      {% if item.description %}
        <p>{{item.description}}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
