<div class="col-lg-12">
    <h2>Check out my other work:</h2>

    <div class="row work_row">
        <div class="col-lg-6">
            <a href="/photography/" title="Photography">
                <h3>Photography</h3>
                <img class="img-responsive" src="/portfolio_images/other_photo.png">
            </a>
        </div>

        <div class="col-lg-6">
            <a href="/portfolio/" title="Design & Illustration">
                <h3>Design & Illustration</h3>
                <img class="img-responsive" src="/portfolio_images/other_misc.png">
            </a>
        </div>
    </div>
</div>
